body {
  background: #f4f6f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.research-container {
  min-height: 100vh;
}

.hero {
  background: linear-gradient(to right, #2563eb, #4f46e5);
  color: white;
  text-align: left;
  padding: 40px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.hero h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.hero p {
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.9;
}
.hero {
  position: relative; /* logo ko absolute karne ke liye */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.hero-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.hero-text {
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Stats Section */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
  margin: 0;
  font-size: 1.8rem;
  color: #2563eb;
}

.card p {
  color: #666;
  margin-top: 5px;
}

/* Chart */
.chart-card {
  height: 380px;
}
.chart-card h2 {
  margin-bottom: 15px;
}
.chart-wrapper {
  width: 100%;
  height: 300px;
}

/* Table */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.add-btn {
  padding: 8px 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.add-btn:hover {
  background: #1e40af;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #2563eb;
  color: white;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tr:hover {
  background: #f9fafb;
}
